* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}


.title-pag{
  background-color: black;
  color: rgb(9, 191, 237);
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
  animation: entradaSuave 1.8s ease forwards;
}

@keyframes entradaSuave { //regla usada para animaciones de nombre aleatorio
  0% {
    transform: scale(1.5); /* Empieza más grande */
    opacity: 0;
  }
  50% {
    transform: scale(0.9); /* Se reduce un poquito más de su tamaño normal */
    opacity: 0.8;
  }
  100% {
    transform: scale(1); /* Queda en su tamaño normal */
    opacity: 1;
  }
}

.listSection{
  color: white;
  flex: 1;
 
}

.form-filter{
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.search-text{
  font-size: 1rem;
  padding: 5px 15px;
  border: solid  rgb(9, 191, 237);
  color: white;
  background-color: black;
  width: 400px;
}

.filterbtn{
  font-size:1rem;
  padding: 5px 15px;
  background-color: rgb(9, 191, 237);
  color: black;
  border-radius: 10px;
}

.filterbtn:hover{
  background-color: rgb(138, 9, 237);
  color: white;
} 

.resetbtn {
  font-size: 1rem;
  padding: 5px 15px;
  background-color: rgb(9, 191, 237);
  color: black;
  border-radius: 10px;
}

.resetbtn:hover{
  background-color: rgb(138, 9, 237);
  color: white;
} 

.see-columns{
  display: flex;
  gap: 50px;
}

.title-list{
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.anime__list li{
  list-style: none;
  
}

.anime__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.anime-item{
  width: 300px;
  height: auto;
  border: solid rgb(135, 7, 255) 5px;
  text-decoration: none;
  background-color: rgb(203, 234, 255);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.name{
  color: black;
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.anime-item img{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.favouriteSection{
  background-color:rgb(112, 226, 255);
  color: rgb(36, 3, 72);
  padding: 5px 35px;
  width: 320px;
}

.title-list-favorite{
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.icon-scroll-favs {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 2px;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-scroll-favs:hover{
  background-color: white;
}

.icon-scroll-favs img {
  width: 40px;
  height: 40px;
}